div.profile{
  width: 100vw;
  /* border: 5px solid black; */
}

img{
  width: 100%;
  height: 50%;
}

span.intro{
  text-align:right;
  font-family: var(--font-serif);

  /* margin: 1em auto; */
  
  /* background-color: mediumseagreen; */
}

span.skill:before {
  content: '';
  animation: animate infinite 2s;
}

@keyframes animate {
  0% {
    content: 'Web Developer';
  }

  100% {
    content: 'Programmer';
  }
}


@media screen and (min-width: 40em) {

  div.profile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: grey; */
  }

  .imgContainer{
    /* background-color:  red; */
    /* border-radius: 1.5em; */
    padding: 1em;
    width: 40%;
  }
  .imgContainer img{
    height: inherit;
    box-shadow: 0 0 1em #000;
    border-radius: 1em;
  }

  span.intro{
    /* background-color: red; */
    width: 60%;
    padding: 1em .5em;
    text-align: right;
    /* font-size: var(--fontsize-heading); */
    font-size: calc(1.25 * var(--fontsize-heading));
    font-weight: 600;
    /* background-color: silver; */
    text-shadow: 0 0 .5em #000;
  }

  span.skill:before {
    animation: animate infinite 5s;
  }

  @keyframes animate {
    0% {
      content: 'Web Developer';
    }

    20% {
      content: 'Web Developer';
    }
    50%{
      content: 'Programmer';
    }
    90%{
      content: 'Designer';
    }
    100% {
      content: 'Designer';
    }
  }

}