.theme-button{
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: .5em;
  border: 1px solid var(--color-secondary);
}

.theme-button:focus, .theme-button:active, .theme-button:select{
  border: 1px solid var(--color-secondary);
}

.light{
  color: var(--color-text-light);
  background: var(--color-background-light);
  /* border: initial; */
}

.dark{
  color: var(--color-text-dark);
  background: var(--color-background-dark);
  /* border: unset; */
}