/* manrope, mina, quicksand, kalam */
@import url('https://fonts.googleapis.com/css2?family=Manrope&Mina&Comfortaa&Mina&Quicksand&Kalam&display=swap');


:root{
  --font-heading: "Playfair Display", serif;
  --font-serif: "Libre Baskerville", serif;
  --font-sans-serif-n: 'Manrope', sans-serif;
  --font-sans-serif-b: 'Quicksand', sans-serif;
  --font-cursive: "Kalam", cursive;

  --fontSize-small: 0.75em;
  --fontSize-normal: 1em;
  --fontSize-medium: 1.15em;
  --fontSize-large: 1.25em;
  --fontSize-XLarge: 1.5em;
  --fontSize-Heading: 2em;

  --color-secondary: dodgerblue;
  --color-text-light: #181818;
  --color-text-dark: white;
  --color-background-light: white;
  --color-background-dark: #383838;
}

*{
  padding: 0;
  margin: 0;
  border: 0;
	font: inherit;
	vertical-align: baseline;
}


.App {
  text-align: center;
  font-family: var(--font-serif);
}
