@import './../../master'

.user-name
  // border: 1px solid $primary  
  // max-width: fit-content
  // min-height: 10vh
  // max-height: 10vh
  // text-align: center
  padding: 0
  font-weight: 600


  > p
    // border: 1px solid $secondary
    padding: .5rem 0

    